/*body{
  background: url(https://www.21juin2004.net/F8Jtg9WBVCDlM9/mode-4.jpg);
}
.navbar-brand{
	text-decoration-color: pink;
}*/
.container{
	color: #FF70C1;
}

button{
  background-color: pink;
  color: #FF70C1;
}